<!DOCTYPE html>
<html>
<head>
  <title>LeafProject Tensorflow API</title>
</head>
<body>
<h1>LeafProject Tensorflow API</h1>
<a href="https://github.com/slinto">https://github.com/slinto</a>

<hr>
<a href="/api/photo-prediction">/api/photo-prediction</a><br/>
<a href="/api/photo-prediction-mock-1">/api/photo-prediction-mock-1 (1x > 80% RESULT)</a>
<a href="/api/photo-prediction-mock-2">/api/photo-prediction-mock-2 (2x > 80% RESULTS)</a>
<a href="/api/photo-prediction-mock-3">/api/photo-prediction-mock-3 (0x > 80% RESULTS)</a>
</body>
</html>